body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.title {
  font-size: 15px;
}

.scpmso {
  background-color: #333;
  text-align: right;
  padding-right: 20px;
}

.toolbar {
  height: 70px;
  background-color: #f05d2c;
  color: white;
  padding-top: 3px;
  padding-left: 10px;
}

h3 {
  margin-top: 4px;
}

.input-group-btn select {
  border-color: #ccc;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.table-dark {
  background-color: #323d4b;
}

.navbar {
  border-radius: 0px;
  box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.2);
}

.btn-primary {
  color: #fff;
  background-color: #f05d2c;
  border-color: #f05d2c;
}

.btn-primary:hover {
  background-color: #a9340c;
  border-color: #a9340c;
}



.bg-light {
  background-color: #fff!important;
}